*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

html , body{
    height: 100%;
    width: 100%;
}

.nav{
    height: 72px;
    width: 1536px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 16px;
    padding-right: 22px;
    font-size: 20px;
    position: fixed;
    z-index: 100;
}

.home{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h5{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home a{
    text-decoration: none;
    color: #000000;
}

.home h5:hover{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.explore{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore h5{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore a{
    text-decoration: none;
    color: #000000;
}

.explore h5:hover{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
}
.create{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create h5{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create a{
    text-decoration: none;
    color: #000000;
}

.create h5:hover{
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
}

.nav img{
    height: 24px;
    width: 24px;
}

.nav h5{
    font-weight: 500;
}

.search-input{
    border: none;
    border-radius: 25px;
    width: 975px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #767676;
    background-color: #E1E1E1;
}

input:focus{
    outline: none;
}

#glass{
    padding-left: 6px;
    padding-right: 8px;
    background-color: #E1E1E1;
}

.search-bar{
    border-radius: 25px;
    background-color: #E1E1E1;
    height: 48px;
    width: 975px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.bell{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

#bell-img:hover{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #e9e9e9;
}

#message-img:hover{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #e9e9e9;
}

#profile-img:hover{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #e9e9e9;
}

#arrow-img:hover{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #e9e9e9;
}

.hero{
    height: 1519;
    width: 3142;
    display: flex;
    padding-top: 80px;
    padding-left: 10px;
}

.question-mark{
    height: 100px;
    width: 100px;
    position: fixed;
    left: 94.5%;
    top: 89%;
    z-index: 100;
}

.question-mark i{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
}

.question-mark i:hover{
    background-color: #e9e9e9;
}

.img1 img{
    height: 295px;
    width: 236px;
    border-radius: 15px;
    opacity: 1;
    transition: opacity 0.2s;
    cursor: pointer;
}

.img2 img{
    height: 132.55px;
    width: 236px;
    margin-left: 18px;
    border-radius: 15px;
}

.img3 img{
    height: 419px;
    width: 236px;
    margin-left: 13px;
    border-radius: 15px;
}

.img4 img{
    height: 336;
    width: 233px;
    border-radius: 15px;
    margin-left: 20px;
}

.img5 img{
    height: 236px;
    width: 236px;
    border-radius: 15px;
    margin-left: 18px;
}

.img6 img{
    height: 505px;
    width: 236px;
    border-radius: 15px;
    margin-left: 18px;
}

.img7 img{
    height: 418px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    bottom: -15%;
}

.img8 img{
    height: 464px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 16.6%;
    bottom: 1.5%;
}

.img9 img{
    height: 331px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 33.2%;
    bottom: -20.5%;
}

.img10 img{
    height: 133px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 49.8%;
    bottom: 48.8%;
}

.img11 img{
    height: 236px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 49.8%;
    bottom: 13%;
}

.img12 img{
    height: 133px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 49.8%;
    bottom: -8.2%;
}

.img13 img{
    height: 149px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 66.4%;
    bottom: 31.5%;
}

.img14 img{
    height: 472px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 66.4%;
    bottom: -37.5%;
}

.img15 img{
    height: 419px;
    width: 236px;
    border-radius: 15px;
    margin-left: 10px;
    position: absolute;
    left: 83.1%;
    bottom: -45.5%;
}

.img1 img:hover{
    opacity: 0.5;
}