*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: work sans;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px;
    gap: 60px;
}

#left{
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left h1{
    font-size: 120px;
    font-weight: 500;
    line-height: 150px;
    font-family: work sans;
}

#bottom-left{
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
}

#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
}

#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}

#color2{
    height: 20px;
    width: 20px;
    background-color: rgb(128, 55, 55);
    border-radius: 50px;
}

#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}

#left p{
    font-size: 20px;
    width: 55%;
    font-weight: 600;
    color: #444;
    line-height: 30px;
}

#right{
    height: 90%;
    width: 30%;
    margin-right: 200px;
    /* background-color: rgb(0, 38, 255); */
    position: relative;
}

#right-top{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

#right-top h4{
    font-size: 30px;
    font-weight: 500;
}

#right-top h5{
    font-size: 16px;
}

#right-top h5 i{
    color: rgb(255, 212, 104);
}

#right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

#black{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: #2F2827;
    color: white;
    border-radius: 50%;
    right: -10%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 48%;
}

#black{
    font-size: 28px;
    font-weight: 500;
}